[Desktop Entry]
Type=Application
Name=GrepFocus
Comment=Website and app blocker
Exec=/usr/local/bin/grepfocus-gui
Icon=grepfocus
Categories=Utility;
Terminal=false
StartupNotify=false
